{% extends "base.html" %}
{% load custom_filters %}

{% block title_block %} Blogs of {{ user }} {% endblock %}

{% block body_block %}

{% for blog in user.post_author.all %}
<h3>{{ blog.blog_title }}</h3>
<h6><i>Created: {{ blog.publish_date }}</i></h6>
<h6><i>Updated: {{ blog.update_date }}</i></h6>
<div class=row>
    <div class=col-sm-4>
        <img src="/media/{{ blog.blog_image }}" alt="{{ blog.blog_title }}" title="{{ blog.blog_title }}" width="50%">
    </div>
    <div class=col-sm-8>
        <p>{{ blog.blog_content|range_filter|linebreaks }} <a href="{% url 'app_blog:blog_details' slug=blog.slug %}">Read More</a></p>
        <h6>Posted By: <a href="#">{{ blog.author }}</a></h6>
        <h6>{{ blog.liked_blog.count }} Likes | {{ blog.blog_comment.count }} Comments</h6>
        <a href="{% url 'app_blog:edit_blog' pk=blog.pk %}" class="btn btn-success btn-sm">Edit</a>
    </div>
    
</div>

<hr>

{% endfor %}



{% endblock %}